#contactdiv{ 
    //opacity:0.85; 
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
    z-index:1000;
}
#pop{
    padding:20px 30px;
    box-shadow:0 0 15px;
    font-size:14px;
    font-weight:bold;
    margin:20px 250px 0 35px;
    position: absolute;
    left: 25%;
    top: 10%;
    background: #fff;
    //opacity: 0.99;
    width:40%;
}


.mainNav {
    background: #222;
    width: 100%;
}
/* First Level */
.mainNav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mainNav ul li {
    display: block;
}
.mainNav ul li a {
    color: #FFFFFF;
    display: block;
    line-height: normal;
    padding:12px 20px;
    text-decoration:none;
}
/*.mainNav ul li a:hover {
    background: #333;
    text-decoration: none;
}*/
/* Second Level */
.mainNav ul ul li {
    background: #111;
}
.mainNav ul ul li a {
    color: #FFFFFF;
    display: block;
    line-height: normal;
    padding: 0.5em 1em 0.5em 2.5em;
}
/*.mainNav ul ul li a:hover {
    background: #333;
}*/
/* Third Level */
.mainNav ul ul ul {
    padding-left:3.5em;
}
.mainNav ul ul ul li {
    display:inline-block;
}
.mainNav ul ul ul li a {
    padding-top:0.25em; 
    padding-bottom:0.25em;
    padding-left:0;
}
/* Accordion Button */
ul li.has-subnav .accordion-btn {
    color:#fff; 
    background:rgba(255,255,255, 0.15); 
}

ul ul li .images_holder a{
    padding-left:15px !important;
    display:inline-block !important;
}
.cat_name{
    padding-left:2.5em !important;
    color:#fff;
    float: left;
}
.images_holder{
    padding-left:2.5em !important;
    border-bottom: 2px solid #444;
}
.follow{
    background: url(../images/follow.png) no-repeat;
    width: 58px;
    height: 20px;
    padding:0 !important;
    padding-top:3px !important;
    text-align:center;
    font-size: 12px;
}
.unfollow{
    background: url(../images/unfollow.png) no-repeat;
    width: 58px;
    height: 20px;
    padding:0 !important;
    padding-top:3px !important;
    text-align:center;
    font-size: 12px;
}
.follow-span{
    float:right;
    padding-right:5px;
    padding-top:5px;
}

#popup_green{
    background: url(../images/green_strip.png) no-repeat;
}
#popup_green #type_label{
    background: url(../images/green_strip_icon.png) no-repeat;
    background-position: 5px 8px;
    padding-left: 36px;
}

#popup_blue{
    background: url(../images/blue_strip.png) no-repeat;
}
#popup_blue #type_label{
    background: url(../images/blue_strip_icon.png) no-repeat;
    background-position: 9px 11px;
    padding-left: 36px;
}

#popup_yellow{
    background: url(../images/yellow_strip.png) no-repeat;
}
#popup_yellow #type_label{
    background: url(../images/yellow_strip_icon.png) no-repeat;
    background-position: 5px 8px;
    padding-left: 36px;
}

@media screen and (max-width: 1024px) {
    #pop {left: 5%;margin:0;width:75%;}
}
@media screen and (max-width: 700px) {
    #pop {left: 2%;margin:0;width:70%;}
}