#social_login footer{
display:none;
}


.field-widget-inline-entity-form-single fieldset .fieldset-wrapper{
	padding:0;
	margin-top:0;
}

.field-widget-inline-entity-form-single fieldset legend{
	display:none;
}

.field-widget-inline-entity-form-single fieldset{
	border:0;
	top:0;
}

textarea{
	height:150px;
}
